* {
    font-family: 'Playfair Display', serif;
}

body {
    background-color: #f8f4ec;
    margin: 0;
    padding: 0;
}

/* Header */

.header {
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.header-items ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.header-items li {
    text-decoration: none;
    list-style-type: none;
    text-transform: capitalize;
    padding-right: 20px;
    margin: 0 10px;
}

.header-items a {
    text-decoration: none;
    color: #30343c;
}

.logo {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #30343c;
    letter-spacing: 2px;
    font-family: 'Playfair Display', serif;
    margin-left: 30px;

}

.contact-button {
    border: 1px solid #30343c;
    text-transform: capitalize;
    color: #30343c;
    background-color: #f8f4ec;
    font-family: 'Playfair Display', serif;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

hr {
    color: #30343c;
}

/* Main */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    height: 600px;
}

.heading-one {
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: lighter;
}

#craft::first-letter {
    text-transform: capitalize;
}

.paragraph {
    line-height: 2;

}

#image {
    width: 340.80px;
    height: 421.12px;
    margin-top: 80px;
    margin-left: 20px;
}

.lets-talk-button {
    border: 1px solid #30343c;
    text-transform: capitalize;
    color: #f8f4ec;
    background-color: #30343c;
    font-family: 'Playfair Display', serif;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    width: 200px;
    height: 50px;
}

.heading-6 {
    font-size: 16px;
    text-transform: capitalize;
}

.socials {
    display: flex;
}

.socials-items {
    padding-right: 30px;
}

.socials a {
    text-decoration: none;
    list-style-type: none;
    color: #30343c;
}

/* Services */

.services {
    color: #f8f4ec;
    background-color: #30343c;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
}

.services-items {
    padding-right: 50px;
}

.heading-two {
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 2px;
}

.flex {
    display: flex;
    width: 100%;
}

.paragraph::first-letter {
    text-transform: capitalize;
}

.services a {
    text-decoration: none;
    list-style-type: none;
    color: #30343c;
    font-family: 'Playfair Display', serif;
    font-size: 14px;

}

.get-in-touch-button {
    border: 1px solid #30343c;
    text-transform: capitalize;
    color: #30343c;
    background-color: #f8f4ec;
    text-decoration: none;
    padding: 10px 10px;

    border-radius: 5px;
    width: 200px;
    height: 50px;
}

.number {
    font-size: 40px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.title {
    text-transform: uppercase;
    font-size: 18px;
    margin-top: -5px;
    margin-left: -50px;
}

.one p {
    line-height: 2;
    padding-left: 70px;

}

.two p {
    line-height: 2;
    padding-left: 70px;


}

.three p {
    line-height: 2;
    padding-left: 70px;

}


.description::first-letter {
    text-transform: capitalize;
}

/* Portfolio */

.portfolio {
    margin-left: 100px;
    color: #30343c;
}

.desert {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hotel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.couture {
    display: flex;
    justify-content: center;
    align-items: center;

}

.name {
    font-size: 15px;
    text-transform: capitalize;
    font-weight: bold;

}

.desert-items {
    padding-right: 30px;
}

.hotel-items {
    padding-right: 30px;
}

.couture-items {
    padding-right: 30px;
}

#portfolio {
    line-height: 2;
    text-transform: capitalize;
}

#portfolio-1 {
    text-transform: uppercase;
    font-weight: bold;
}

.portfolio a {
    text-decoration: underline;
    list-style-type: none;
    text-transform: uppercase;
    color: #30343c;
}

.title {
    font-weight: bold;
}

/* Testimonials */

.testimonials {
    height: 600px;
    background-color: #30343c;
    color: #f8f4ec;
    padding-left: 50px;


}

.flex-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials-items {
    padding-right: 100px;
}

.h4 {
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 2;
    font-weight: normal;
}

.info-items p {
    text-transform: uppercase;
    font-size: smaller;
}

.info {
    display: flex;
    justify-content: space-around;
}

.flex-items {
    display: flex;
}

.flex-flex {
    padding-top: 20px;
    font-size: x-large;
}


#start-conversation {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.conversation {
    padding-top: 100px;
    padding-bottom: 100px;
}

.converse-button {
    border: none;
    width: 250px;
    height: 50px;
    background-color: #30343c;
    color: #f8f4ec;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: large;
}

.c-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.footer ul {
    display: flex;
    list-style: none;
}

.footer li {
    text-decoration: none;
    list-style-type: none;
    text-transform: capitalize;
    padding-right: 20px;
    margin-top: -20px;
}

.footer a {
    text-decoration: none;
    color: #30343c;

}